<div class="max-w-360 mx-auto">
  <h1 class="text-3xl font-bold">Tasks</h1>
  <app-task-filters
    [tasks]="tasks()"
    [tags]="tags()"
    [assignees]="assignees()"
    [tasksLoading]="tasksLoading()"
    [(titleAndDescriptionSearchTerm)]="titleAndDescriptionSearchTerm"
    [(selectedStatus)]="selectedStatus"
    [(selectedPriority)]="selectedPriority"
    [(selectedTags)]="selectedTags"
    [(selectedAssignee)]="selectedAssignee"
    [(selectedSortOption)]="selectedSortOption"
    (searchRequest)="search()"
  />

  <app-task-controls
    [(selectedView)]="selectedView"
    [(selectedLayoutMode)]="selectedLayoutMode"
    [(selectedSortOption)]="selectedSortOption"
    [totalElements]="totalElements()"
    (searchRequest)="search()"
  />

  <div class="pt-8">
    @if (selectedView() === 'list') {
      @if (tasks().length > 0) {
        <app-task-cards
          [tasks]="tasks()"
          [selectedLayoutMode]="selectedLayoutMode()"
          [tasksLoading]="tasksLoading()"
          (searchRequest)="search()"
        />
        <div class="flex justify-center">
          <app-pagination
            [pageSize]="pageSize()"
            [totalElements]="totalElements() ?? 0"
            (pageChange)="onPageChange($event)"
            [pageSizeOptions]="[5, 10, 20, 30, 50]"
          />
        </div>
      } @else {
        <p class="font-bold mt-5 text-xl text-center sm:mt-10">No remaining task.</p>
      }
    } @else {
      @if (tasks().length > 0) {
        <app-task-cards-drag-drop
          [tasks]="tasks()"
          [selectedLayoutMode]="selectedLayoutMode()"
          [tasksLoading]="tasksLoading()"
          [selectedView]="selectedView()"
        />
      } @else {
        <p class="font-bold mt-5 text-xl text-center sm:mt-10">No remaining task.</p>
      }
    }
  </div>
</div>
