<div
  class="flex flex-col gap-8 mb-8 sm:mb-10"
  [class]="selectedLayoutMode() === 'column' ? 'lg:grid md:grid-cols-2 2xl:grid-cols-3' : ''"
>
  @for (task of tasks(); track task.id) {
    @let taskId = task.id;
    <div tuiCardLarge appearance="neutral" class="gap-2!" [tuiSkeleton]="tasksLoading()">
      <h2 class="text-xl font-bold mb-2">{{ task.title }}</h2>
      <hr class="border-gray-300 mb-3" />
      <div class="m-0 flex flex-col gap-3">
        @let assignee = task.assignee;
        @if (assignee) {
          @if (assignee.avatarUrl) {
            <div class="flex gap-3">
              <div tuiAvatar size="l">
                <img [alt]="assignee.name" [src]="assignee.avatarUrl" />
              </div>
              <div class="flex flex-col">
                <span>{{ assignee.name }}</span>
                <span class="text-gray-500">{{ assignee.email }}</span>
              </div>
            </div>
          } @else {
            <div tuiAvatar="@tui.user" size="m"></div>
          }
        }

        <div class="gap-x-3 gap-y-1 grid grid-cols-[auto_1fr] mb-3">
          @if (!assignee) {
            <p class="font-bold">Assignee:</p>
            -
          }
          <p class="font-bold">Status:</p>
          {{ task.status }}
          <p class="font-bold">Priority:</p>
          {{ task.priority }}
          <p class="font-bold">Due date:</p>
          {{ task.dueDate ?? '-' }}
        </div>
      </div>
      @if (taskId) {
        <div class="flex justify-end gap-3">
          <a tuiButton size="m" appearance="info" [routerLink]="routes.TASKS_DETAIL(taskId)">
            <tui-icon icon="@tui.eye" />
            <span class="hidden sm:inline">Details</span>
          </a>
          <a tuiButton size="m" [routerLink]="routes.TASKS_EDIT(taskId)">
            <tui-icon icon="@tui.pencil" /><span class="hidden sm:inline">Edit</span>
          </a>
          <button
            tuiButton
            appearance="primary-destructive"
            size="m"
            (click)="requestConfirmation($event, taskId)"
          >
            <tui-icon icon="@tui.trash" />
            <span class="hidden sm:inline">Delete</span>
          </button>
        </div>
      }
    </div>
  }
</div>
